<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="e3de5d6f-c093-4145-b113-dae29b5b1b09"
            Publisher="CN=Test"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Echoes.Tests.WinRT</DisplayName>
    <PublisherDisplayName>Test</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Echoes.Tests.WinRT.App">
        <VisualElements
            DisplayName="Echoes.Tests.WinRT"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Echoes.Tests.WinRT"
            ForegroundText="light"
            BackgroundColor="#96662f">
            <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
